{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.items %}
        <li class="list-group-item">
          {{ item.name }} - {{ item.status }}
          <br> {{ item.description }}
          <div class="button-group">
            {% if item.status != "Done" %}
              <form action="/update/{{ item.id }}", method="post", class="form-group">
                <input type="submit" value="Mark as Completed" class="btn btn-secondary btn-sm">
              </form>
            {% endif %}
            <form action="/remove/{{ item.id }}", method="post", class="form-group">
              <input type="submit" value="Remove Item" class="btn btn-secondary btn-sm">
            </form>
          </div>
        </li>
        {% endfor %}
      </ul>
      <h2>Add Item</h2>
      <form action="/add", method="post", class="form-group">
        <div>
          <label class="control-label" for="title" class="form-group">Enter the task: </label>
          <input class="form-control" type="text" name="title" id="title" class="form-control" required>
          <label class="control-label" for="description" class="form-group">Enter a description: </label>
          <input class="form-control" type="text" name="description" id="description" class="form-control">
        </div>
        <div>
          <input type="submit" value="Submit Task" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
{% endblock %}