{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
        <li>{{ item.title }} - {{ item.status }}</li>
        <ul>
          <li><a href="/update/{{ item.id }}">Mark as completed</a></li>
          <li><a href="/remove/{{ item.id }}">Remove item</a></li>
        </ul>
        {% endfor %}
      </ul>
      <h2>Add Item</h2>
      <form action="/add", method="post", class="form">
        <div>
          <label for="title">Enter the task: </label>
          <input type="text" name="title" id="title" required>
        </div>
        <div>
          <input type="submit" value="Submit Task">
        </div>
      </form>
    </div>
  </div>
{% endblock %}